In [1]:
! pip install pyECLAT

Collecting pyECLAT
  Downloading pyECLAT-1.0.2-py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: pandas>=0.25.3 in c:\users\andre\appdata\local\programs\python\python39\lib\site-packages (from pyECLAT) (1.5.3)
Requirement already satisfied: numpy>=1.17.4 in c:\users\andre\appdata\local\programs\python\python39\lib\site-packages (from pyECLAT) (1.26.4)
Requirement already satisfied: tqdm>=4.41.1 in c:\users\andre\appdata\local\programs\python\python39\lib\site-packages (from pyECLAT) (4.50.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\andre\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.25.3->pyECLAT) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\andre\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.25.3->pyECLAT) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\andre\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->pyECLAT) (1.16.0)
Downloading pyECLAT-1.0.2-py3-none-any.whl (6.3 kB)
Installing collected packages: pyECLAT
Successfully installed pyECLAT-1.0.2

WARNING: Ignoring invalid distribution -lotly (c:\users\andre\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\andre\appdata\local\programs\python\python39\lib\site-packages)

In [6]:
import pandas as pd
from pyECLAT import ECLAT

In [5]:
base_mercado1 = pd.read_csv('mercado.csv', header=None)
base_mercado1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [7]:
eclat = ECLAT(data=base_mercado1)

In [9]:
eclat.df_bin

   feijao  arroz  cerveja  leite  manteiga  pao  cafe
0       0      0        1      1         1    1     0
1       0      0        0      0         1    1     1
2       0      0        0      0         1    1     1
3       0      0        0      1         1    1     1
4       0      0        1      0         0    0     0
5       0      0        0      0         1    0     0
6       0      0        0      0         0    1     0
7       1      0        0      0         0    0     0
8       1      1        0      0         0    0     0
9       0      1        0      0         0    0     0

In [10]:
eclat.uniq_

[nan, 'feijao', 'arroz', 'cerveja', 'leite', 'manteiga', 'pao', 'cafe']

In [11]:
indices, suporte = eclat.fit(min_support=0.3, min_combination=1, max_combination=3)

3it [00:00, 135.33it/s]
3it [00:00, 165.64it/s]
1it [00:00, 132.27it/s]

Combination 1 by 1
Combination 2 by 2
Combination 3 by 3

In [12]:
indices

{'manteiga': [0, 1, 2, 3, 5],
 'pao': [0, 1, 2, 3, 6],
 'cafe': [1, 2, 3],
 'manteiga & pao': [0, 1, 2, 3],
 'manteiga & cafe': [1, 2, 3],
 'pao & cafe': [1, 2, 3],
 'manteiga & pao & cafe': [1, 2, 3]}

In [13]:
suporte

{'manteiga': 0.5,
 'pao': 0.5,
 'cafe': 0.3,
 'manteiga & pao': 0.4,
 'manteiga & cafe': 0.3,
 'pao & cafe': 0.3,
 'manteiga & pao & cafe': 0.3}